# /mount/src/stock-expert/requirements.txt
fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
sqlalchemy
asyncpg
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
httpx
requests
pandas
yfinance
streamlit
plotly
